*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lacquer", system-ui;
    background-color: hsl(335, 76%, 20%);
    color: #fff;
    line-height: 1.5;
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p{
    margin-bottom: 1.25rem;
    color: #fff;
  }
  @media screen and (min-width:800px){
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1.75rem;
  }
  h4{
    font-size: 1rem;
  }
  body{
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.menu{
    padding: 5rem 0;
}
.title{
    text-align: center;
    margin-bottom: 2 rem;
}
.underline{
    width: 9rem;
    height: 0.25rem;
    background: hsl(209, 77%, 71%);
    margin: auto;
    margin-right: auto;
    border-radius: 0.25rem;
}

.btn-container{
    margin-bottom: 4rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.filter-btn:hover{
    background: hsl(209, 77%, 71%);
    color: hsl(335, 76%, 20%);

}
.filter-btn {
    background: transparent;
    border-color: hsl(209, 77%, 71%);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: hsl(209, 77%, 71%);
    cursor: pointer;
    transition: all 0.3s linear;
  }

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-content: center;
}

.menu-item{
    display: grid;
    gap:1rem 2rem;
    max-width: 25rem;
}

.photo{
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid hsl(209, 77%, 71%);
    border-radius: 0.5rem;
}
.item-info header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted hsl(209, 77%, 71%);
}

.item-info h4 {
    margin-bottom: 0.5rem;
  }
  .price {
    color: var(--clr-gold);
  }
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
  }
  @media screen and (min-width: 768px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    .photo {
      height: 175px;
      width: 255px;
    }
  }
  @media screen and (min-width: 1200px) {
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
    .photo {
      height: 150px;
      width: 220px;
    }
  }
  @media screen and (max-width: 765px) {
    .menu-item {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
    }
    .photo {
      height: 175px;
      width: 200px;
    }
    .btn-container{
      margin-bottom: 2rem;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
  }
  }